.popBg {
    position: fixed;
    width: 100%;
    top: -2rem;
    left: 0;
    bottom: 0;
    z-index: 9;
    backdrop-filter: blur(7px);
}

.popBox {
    width: 90%;
    top: 7%;
    left: 5%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.popHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popBox h3 {
    margin: 0;
    color: #172B4D;
}

.closeIcon {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.popSummary ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popSummary li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popSummary img {
    width: 10px;
    height: 10px;
}