/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-image: url(./img/mobBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 1.7rem;
}

.mainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFFFF;
}

.menuLogo {
    color: #6070FF;
    font-weight: 700;
    font-size: 24px;
    padding-left: 4%;
    line-height: 6%;
}

.menuIcon {
    position: relative;
    top: 12px;
    width: 22px;
    right: 24px;
    
}

.menuLvl {
    display: block;
    background-color: #6070FF;
    width: 100%;
    height: 2.5px;
    margin: 4px;
    border-radius: 2px;
}

.homeContent {
    padding-left: 8%;
    padding-right: 8%;
}

.homeContent h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 46px;
    padding-top: 18%;
    color: #172B4D;
    ;
}

.contentPara {
    margin-top: -1.5rem;
    font-size: 0.9rem;
    color: #344563;
}

.contentLink {
    margin-top: -2%;
    font-size: 0.9rem;
    font-weight: 500;
    color: #7F8CFF;
}

.homeContent li {
    list-style-type: none;
    margin-left: -2.5rem;
    margin-top: -0.6rem;
}

.homeContent img {
    height: 0.99rem;
    margin-right: 0.95rem;
}



@media screen and (min-width: 375px) {
    body {
        background-image: url(./img/mobBg.png);
        background-repeat: no-repeat;
        background-size: initial;
        background-position-y: 3rem;
    }
    
    .homeContent {
        padding-left: 6%;
        padding-right: 6%;
    }

    .homeContent h1 {
        font-size: 2.55rem;
        line-height: 47px;
        padding-top: 21%;
        font-weight: 700;
    }

    .contentPara {
        margin-top: -1rem;
        font-size: 1rem;
    }

    .contentLink {
        margin-top: -2.5%;
        font-size: 0.9rem;
        font-weight: 500;
        color: #7F8CFF;
    }

    .homeContent li {
        list-style-type: none;
        margin-left: -2.5rem;
    }

    .homeContent img {
        height: 0.95rem;
        margin-right: 1rem;
    }
}


/* New code */
    .grid-container {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-content: center;
        background-color: #E5E5E5;
        padding: 7rem 2rem 12rem 2rem;
        row-gap: 5rem;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        border: 1px solid #DFE1E6;
        background-color: #FFFFFF;
        padding-bottom: 0.2rem;
    }

    .grid-item img {
        display: flex;
        justify-content: center;
        margin: 16px;
    }

    .grid-item h2 {
        display: flex;
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
        margin: -3px 16px;
        color: #172B4D;
    }

    .details {
        display: flex;
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        margin: 0 16px;
    }

    .details ul {
        margin: 0;
        padding: 0;
    }

    .details li {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-top: 7px;
        color: #344563;
    }

    .details img {
        margin: 16px 11px;
    }

    .worksText {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        margin: 0rem 1rem;
        color: #344563;
    }

    .worksTag {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }

    .worksTag ul {
        margin: 2px 16px;
        padding: 0;
        display: flex;
    }

    .worksTag li {
        list-style-type: none;
        background-color:#EBEBFF;
        padding: 4px 12px;
        margin-right: 8px;
        margin-top: 5px;
        border-radius: 8px;
        color: #6070FF;
    }

    .worksButton {
        width: 124px;
        height: 48px;
        margin: 20px 16px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        color: #396DF2;
        border: 1px solid #6070FF;
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    .aboutMe {
        padding: 114px 24px;
        background-color: #FFFFFF;
        border-radius: 0 65px 0 0;
        margin-top: -80px;
    }

    .aboutMe h1 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
        margin-top: 0;
        color: #172B4D;
    }

    .aboutPara {
        margin-top: -1.2rem;
        font-size: 15px;
        line-height: 24px;
        color: #344563;
    }

    .aboutLink {
        margin-top: -0.8rem;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #7F8CFF;
    }

    .aboutMe li {
        list-style-type: none;
        margin-left: -2.5rem;
        padding-top: 5px;
        color: #253858;
    }

    .aboutMe img {
        height: 18px;
        margin-right: 23px;
    }

    .aboutMeButton {
        width: 162px;
        height: 48px;
        margin: 0px;
        padding: 12px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        color: #396DF2;
        border: 1px solid #6070FF;
        border-radius: 8px;
        background-color: #FFFFFF;
    }
    
    .aboutMeDropdown {
        margin: 0;
        padding: 0;
        display: block;
    }

    .dropdownItemClick {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    .dropdownItem {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        border-bottom: 1px solid #DFE1E6;
    }

    .dropdownItem li {
        margin-bottom: 12px;
        margin-left: -43px;
        padding: 0;
    }

    .ddList li {
        margin-left: -5rem;
        height: 3.8rem;
        margin-bottom: 0.8rem;
    }

    .ddList p {
        margin-left: -20px;
    }

    .dropdownList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 67px;
        background-color: #f7f7f9;
        border-radius: 8px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
    }

    .dropdownList img {
        height: 48px;
        padding: 9px 12px;
    }

    .dropdownTitle {
        display: block;
        width: 300px;
        padding: 23px 0px;
        
    }

    .aboutArrowD {
        height: 13px;
        margin-top: -1rem;
    }

    .aboutArrowF {
        height: 13px;
        margin-top: -0.1rem;
    }

    /*Adding this class just to visually represent the onclick action*/
    .dropdownTitleClick {
        display: block  ;
        padding: 20px 0 34px 0;
    }

    .contactMe {
        position: absolute;
        width: 375px;
        height: 779px;
        left: 0px;
        top: 5410px;
        background: #6070FF;
        background-position: right;
        background-image: url('img/mobContact.png');
        background-repeat: no-repeat;
        border-top-left-radius: 80px;
    }



    .contactMe h2 {
        display: block;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 105px;
    }

    .contactMe p {
        padding: 0 24px;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        text-align: center;
    }

    input {
        width: 325px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #CFD8DC;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 16px 15px 38px 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        margin-left: 25px;
        margin-right: 25px;
      }

      form li + li{
        margin-top: 1.5rem;
      }

    .contactMe ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
    }

    .contactMe textarea {
        width: 310px;
        height: 170px;
        margin-left: 25px;
        margin-right: 25px;
        border: none;
        padding: 15px 0 0 15px;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
    }
    
    

    /*Ends new code*/



@media screen and (min-width: 768px) {
    body {
        background-image: url(./img/deskBg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .homeContent {
        padding-left: 16%;
        padding-right: 16%;
    }

    .homeContent h1 {
        font-size: 5rem;
        line-height: 95px;
        padding-top: 8%;
    }

    .contentPara {
        margin-top: -3%;
        font-size: 1.5rem;
    }

    .contentLink {
        margin-top: -1%;
        font-size: 1.5rem;
        font-weight: 500;
        color: #7F8CFF;
    }

    .homeContent li {
        list-style-type: none;
        margin-left: -3.5%;
    }
}

